body {
    height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* HEADER */

.hidden {
    display: none;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100vw;
    padding: 0.5rem;
}

.header-logo {
    width: 2rem;
    height: 2rem;
}

.header__container__title {
    font-size: 2em;
    font-style: italic;
    margin-left: 2%;
}

/* ABOUT CONTAINER */

.container__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 5px;
padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;

}

.container__about__title {
    font-size: 1.5em;
    padding: 1rem 2rem;
}

.container__about__mission-img {
    width: 100%;
    margin: 1rem 0;
}

.container__about__mission-text {
    font-size: 1rem;
    text-align: center;
}

.container__about-line {
    border: 1px solid;
    width: 50%;
    margin: 2rem 0;
}

/* TEAM */

.container__team {
    display: flex;
    flex-wrap: wrap;

}

.container__team__card {
    width: 50%;
}

.container__team__card-img {
    width: 100%;
    padding: 1rem;
}

.container__team__card-role {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.container__team__card-desc {
 width: 100%;
}




/* FOOTER */

.container__footer {
    bottom: 0;
    background-color: #D1EFEC;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__content {
    font-size: 0.85rem;
    color: #207868;
    text-decoration: underline;
    text-decoration-color: #92C4BC;
    text-underline-offset: 2px;
}


/* MEDIA QUERIE DESKTOP */

@media only screen and (min-width: 768px) {

    .container__about {
        width: 70%;

    }

    .container__team {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    
    }
    .container__team__card {
        width: 40%;
    }
    

    /* HEADER DESKTOP */

    .hidden {
        display: flex
    }

    .hidden-logo {
        display: none;
    }

    .header__container {
        background-color: #D1EFEC;
    }

    .header__container__title {
        font-size: 3em;
    }

    .tagline {
        padding-left: 0.7rem;
        font-size: 1.5rem;

    }

	.container__footer {
		justify-content: space-evenly;
		height: 5rem;
	}
	.footer__content {
		font-size: 1rem;
	}
}